<!DOCTYPE html>
<html>
    <head>
        {block head}
            <script>document.querySelector('html').classList.add('js')</script>
            <link rel="stylesheet" href="/css/styles.css" />
            <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
            <title>{block title|stripHtml|trim}{/block} - Dashboard</title>
        {/block}
    </head>

    <body>
        <div id="content">
            {block content}{/block}
        </div>

        <div id="footer">
            {block footer}
                .
            {/block}
        </div>
    </body>
</html>
