{layout '@layout.latte'}
{import '@network.latte'}

{block head}
    {include parent}
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
{/block}

{block content}
    <h1 n:block="title">Index</h1>

    {foreach $networks as $network}
        {include networkBuilder $network}
    {/foreach}

    <script>
        let table = new DataTable('.network');
    </script>
{/block}

